<div class=" container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h3>Hotel: {{hotel.name}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <img width="220" height="220" src="{{hotel.image}}" alt="{{hotel.name}}" />
            <br>
            <br>
        </div>
        <div class="col-sm-9">
            <label>Room Type</label>
            {{#hotel.rooms}}
            <div class="radio">
                <!-- checked attribute needs to be populated at the backend-->
                <!-- Onclick, the final selection form needs to be updated with the updated price.-->
                <!--Name -->

                <label><input type="radio" value="{{price_diff}}" id="hotel_{{../_id}}_{{@index}}"
                        name="hotel_{{../_id}}" {{checked}}>{{type}}</label>
            </div>
            <!--If additional price is greater than zero then display-->
            <label for="hotel_{{../_id}}_{{@index}}">{{price_diff_text}}</label>
            {{/hotel.rooms}}
        </div>
    </div>
</div>