<div class="container">
    {{#packages}}

    <div class="row row-buffer well">
        <div class="col-sm-3">
            <a href="/package-details/{{_id}}">
                <img width="220" height="220" alt="package name here" src="{{image}}" />
            </a>
        </div>
        <div class="col-sm-9">
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <a href="/package-details/{{_id}}">
                            <h1>{{name}}</h1>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-9">
                        <h4>{{description}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-9">
                        <label>Price:${{price}}</label>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {{/packages}}
</div>