<form id="package-selected-form" name="package-selected-form" method="POST" action="/checkout">
    <input type="hidden" name="package_id" value="{{package.id}}" />
    <input type="hidden" name="package_name" value="{{package.name}}" />
    <input type="hidden" name="package_image" value="{{package.image}}" />
    <input type="hidden" name="package_description" value="{{package.description}}" />
    <input type="hidden" name="num_of_people" value="1" />
    <input type="hidden" name="date_of_trip" value="" />
    <input type="hidden" name="unit_price" value="{{package.price}}" />
    <input type="hidden" name="total_price" value="{{package.price}}" />
    <input type="hidden" name="sltd_itr_hotel_room_types" value="" />
</form>
<script>
    function updatePrice() {
        let numPeople = $("#package-selected-form input[name='num_of_people']").val();
        let unitPrice = $("#package-selected-form input[name='unit_price']").val();
        let totalPrice = numPeople * unitPrice;
        //update form and UI
        $("#package-selected-form input[name='total_price']").val(totalPrice);
        $("#display_price").text(totalPrice);
    }
    function validDate(date) {
        if (date.trim() === '') {
            return false;
        }
        return true;

    }
    function validQuantity(quantity) {
        try {
            if (parseInt(quantity) > 0) {
                return true;
            } else {
                return false;
            }
        } catch (e) {
            return false;
        }

    }
    $(document).ready(function () {

        //on read set the date to current date +1
        let date = new Date();
        date.setDate(date.getDate() + 1);
        let dateString = (date.getMonth() + 1) + "/" + date.getDate() + '/' + date.getFullYear();
        $("#trip-date").val(dateString);
        $("#package-selected-form input[name='date_of_trip']").val(dateString);
        //dispatch Event to update the form
        //document.getElementById("trip-date").dispatchEvent(new Event("change"));


        $("#package-selected-form").submit(function () {
            //alert("validate and submit form-Submit the form here");
        });
        $("#book_online").click(function () {
            //alert("clicked book!!- Validate here");
            $("#package-selected-form").submit();
        });
        $("#trip-date").change(function () {
            let inputElement = $("#trip-date");
            let tripDate = inputElement.val();
            let formElement = $("#package-selected-form input[name='date_of_trip']");
            formElement.val(tripDate);

        });
        $("input[name='quantity']").change(function () {
            let inputElement = $("input[name='quantity']");
            let quantity = inputElement.val();
            let formElement = $("#package-selected-form input[name='num_of_people']");
            if (validQuantity(quantity)) {
                formElement.val(quantity);
            } else {
                formElement.val(1);
                //reset input element
                inputElement.val(1);
            }

            updatePrice();
        });
    });

</script>