<!--partials/checkout/checkout_details.handlebars begin-->
<div class="container">
    <div class="row">
        <h1>Checkout Details</h1>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <img width="220px" height="220px" alt="{{bookingDetails.package_name}}"
                src="{{bookingDetails.package_image}}" />
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-12">
                    <h1>{{bookingDetails.package_name}}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p>{{bookingDetails.package_description}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p>Total Price:${{bookingDetails.total_price}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p>Total Number of People:{{bookingDetails.num_of_people}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p>Trip Date:{{bookingDetails.date_of_trip}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--partials/checkout/checkout_details.handlebars end-->